<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Residence Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <h1>Residence Detail</h1>
        <div>
            <p>ID: <span th:text="${residence.residNo}"></span></p>
            <p>Name: <span th:text="${residence.residName}"></span></p>
            <p>Description: <span th:text="${residence.residDescription}"></span></p>
            <p>Address: <span th:text="${residence.residAddress}"></span></p>
            <p>Type: <span th:text="${residence.residType}"></span></p>
            <p>Check-in Date: <span th:text="${residence.checkinDate}"></span></p>
            <p>Check-out Date: <span th:text="${residence.checkoutDate}"></span></p>
            <p>Total Price: <span th:text="${residence.totalPrice}"></span></p>
            <p>Discount Rate: <span th:text="${residence.discountRate}"></span></p>
            <p>Discounted Price: <span th:text="${residence.discountedPrice}"></span></p>
            <p>Rating: <span th:text="${residence.rating}"></span></p>
            <p>Thumbnail:</p>
            <img th:if="${residence.thumbnailUrls != null}"
                 th:src="@{/uploads/{photo}(photo=${residence.thumbnailUrls})}"
                 alt="Thumbnail" width="100">
            <p>Photos:</p>
            <div>
                <img th:each="photo : ${residence.photoUrls}"
                     th:if="${photo != null}"
                     th:src="@{/uploads/{photo}(photo=${photo})}"
                     alt="Photo" width="100">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
